       /* tablet */
@media screen and (max-width:768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        li{
            display: none;
        }
        .bars{
            display: block;
        }
        .icon{
            font-size: x-large;
            width: 30px;
        }        
    }
    .hero{
        background-image: url("./assets/images/mobhero_iphone_family__be5jkzxszb1e_small_2x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .fathers-day{
        background-image: url("./assets/images/tabhero_fd26__c9vr0hxu24eq_small_2x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .college{
        background-image: url("./assets/images/@hero_college_students_2026__dzrtx52rt9aq_small_2x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section8{
        text-align: left;
    padding: 25px 50px;
    }
    .section9{
        flex-direction: column;
        /* gap: 15px; */
        li{
           display: none;
        }
        h4{
            padding: 10px 0;
            border-bottom: 1px solid gray;
        }
    }
    .section10{
        .ftp-1, .ftp-2{
           padding-left: 10px;
    }
        #hr{
            width: 92%;
           margin-left: 10px;
    }
}
      /* large mobile */
@media screen and (max-width:425px) {
    .section4{
        flex-direction: column;
        .macbook-air{
            width: 100%;
        }
        .ipad-air{
            width: 100%;
        }
    }
    .section5{
        flex-direction: column;
        .black-lady{
            width: 100%;
        }
        .macbook-pro{
            width: 100%;
        }
    }
    .section6{
        flex-direction: column;
        .trade-in{
            width: 100%;
        }
        .card{
            width: 100%;
        }
    }
    
    
}